@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color--brand-primary: 255, 204, 51;
		--color--brand-dark: 243, 179, 6;
		--color--brand-light: 255, 248, 215;
		--color--soft-black: 41, 41, 41;
		--color--softer-black: 61, 61, 61;
		--color--softest-black: 74, 74, 74;
		--color--light-gray: 237, 237, 237;
		--color--medium-gray: 219, 219, 219;
		--color--dark-gray: 151, 151, 151;
		--color--success: 12, 177, 75;
		--color--caution: 252, 186, 18;
		--color--warning: 244, 130, 31;
		--color--alert: 206, 53, 39;
	}
}
